@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: url(../img/seamless_paper_texture.png);

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.navbar-default .navbar-brand {
    color: #1abc9c;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #1abc9c;
    background-color: transparent;
    border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
    color: #1abc9c;
}

#headerwrap {
    margin-top: -160px;
    padding-top: 250px;
    text-align:center;
    min-height: 650px;
    width: 100%;
    color:
}

#headerwrap h1 {
    color:#ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}

#headerwrap h4 {
    font-weight: 400;
    color: #ffffff
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}