<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
		<meta name="keywords" content="Nakul Pathak, Front end developer, Designer, Programmer, C++ Expert, Front-end, Web Developer, Web Designer"/>
 		<meta name="description" content="Nakul Pathak" />

        <title> Nakul Pathak-Details </title>

        <link href='http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300|Josefin+Slab|Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/ jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">

	</head>
	<body id="details">
		 <div class='abt' id="abut"><p>About</p></div>
	 		<img src="/static/misc/alone.jpg" class="selfies" id="first" alt="Nakul Pathak Picture">
	 		<img src="/static/misc/momsanch.jpg" class="selfies" id="second" alt="Nakul Pathak Picture">
	 			<p id="about"> Hi! I'm Nakul Pathak- an 18 year old self-taught web designer/developer. I enjoy learning, and applying what I learn to make cool stuff. <br><br>I am passionate about soccer and also like (occasional) trips to the gym. I enjoy discussing ideas with people and explaining concepts. I teach the SAT to high school students to channel this joy (and make some money). <br><br>I recently finished high school and am currently preparing to leave for Canada where I will be studying software engineering at the University of Waterloo. Besides my love for programming, I love understanding quantum mechanics and calculus. I am fond of frustrating problems because the feeling once you solve them is addictive. <br><br>I am always looking to expand my knowledge base so I can be more efficient and neat.</p>

		<div class='abt' id='accomplishments'> <p>Accomplishments</p></div>
		 	<div id="accordion">
		 		<h3 class="head1">Academics</h3>
			 		<div>
			 			<ul>
	 						<li><span>SAT</span>- 2360 (Math-790, Critical Reading- 770, Writing-800)</li>
	 						<li><span>TOEFL</span>- 113/120</li>
	 						<li><span>Class 12th</span>- 96% (Best of 4)</li>
	 						<li><span>SAT Math II</span>- 780/800</li>
	 					</ul>
 					</div>
 				<h3 id="head2">Extra Curriculars</h3>
	 				<div>
		 				<ul>
		 					<li id="underline">Chief Editor- School Editorial Board</li>
		 						<p>Wrote and edited magazine articles. Worked with other members to produce the school magazine for the year 2013-14.</p>
		 					<li id="underline"> World Mathematical Crusade</li>
		 						<p>Presented a project on 'Seven Bridges of Konigsberg' to students and teachers from all over the world.</p>
		 					<li id="underline"> India Literary Festival</li>
		 						<p>Won 2nd prize for video presentation for news anchoring competition among schools from all over India.</p>
		 				</ul>
	 				</div>
	 			<h3 id="head3">Miscellaneous</h3>
	 				<div>
		 				<ul>
		 					<li id="underline">Youreka Camp Champion Award</li>
		 						<p>Learnt raft building, riverside hiking, cliff diving, teamwork activities, etc. Received the following 'stamps':
		 						<ul>
		 							<li>Role Model</li>
		 							<li>Ardent</li>
		 							<li>Navigation</li>
		 							<li>Endurance</li>
		 						</ul>
		 						</p>
		 					<li id="underline">Excellent Humorist</li>
		 						<p>Cracker of many-a-jokes which are laughed at by close-to-no-one.</p>

		 					<li id="underline">Writer</li>
		 						<p>Enjoyed writing college admission essays and essays for magazine. Commended by all English teachers in high school for writing skill.</p>

		 				</ul>
	 			   </div>
			 </div>
	   </div>

	 	<div class='abt' id='skills'><p>Skills</p></div>
	 			<div id="sone" id="prog"><p class="sqr">Programming</p></div>
	 				<div class="contentone" id="prog">
	 					<ul>
	 						<li>C++(Expert)</li>
	 						<li>JavaScript(learnt)</li>
	 					</ul>

	 				</div>
	 			<div id="stwo" id="webdev"><p class="sqr">Web Development</p></div>
					<div class="contenttwo" id="webdev">
						<ul>
							<li>HTML/CSS(experienced)</li>
							<li>JavaScript(learnt)</li>
							<li>JQuery(experienced)</li>
							<li>PHP(learnt)</li>
						</ul>
					</div>
		 		<div id="sthree" id="mooc"><p class="sqr">MOOCs</p></div>
		 			<div class="contentthree" id="mooc">
		 				<ul>
		 					<li>Algorithms: Design and Analysis- Stanford University (Coursera)</li>
		 					<li>Hack Design</li>
		 					<li>Linear Algebra- MIT (MIT OpenCourseWare)</li>
		 				</ul>
		 			</div>
		 		<div id="sfour" id="learning"><p class="sqr">Currently Learning</p></div>
		 			<div class="contentfour" id="learning">
		 				<ul>
		 					<li>AngularJS</li>
		 					<li>iOS App Development</li>
		 				</ul>
		 			</div>
		 			</div>

		 <div class='abt' id='contact'><p>Contact Me</p></div>
		 	<form class="basic-grey">
					<p> If you'd like to work with me, offer learning opportunities or advise me regarding my work, leave me a message. I'll get back to you in a day or two! </p>
			 <label>
	        	<span>Your Name :</span>
	        	<input id="name" type="text" name="name" placeholder="Name" />
		    </label>

		    <label>
		        <span>Your Email :</span>
		        <input id="email" type="email" name="email" placeholder="Email" />
		    </label>

		    <label>
		        <span>Message :</span>
		        <textarea rows='15' cols='100' id="message" name="message" placeholder="Your words"></textarea>
		    </label>

		    <label>
		        <span>&nbsp;</span>
		        <input type="submit" class="button" value="Send" />
		    </label>
		</form>

		<p class='contactbar'>
			<a href="https://www.facebook.com/nakul.pathak123456789" target="_blank"> <img src="/static/logos/fb-logo-50.png" height=35px alt="Nakul Pathak"> </a>
			<a href="https://twitter.com/nakulpathak3" target="_blank"> <img class="twit" src="/static/logos/twitter.png"alt="Nakul Pathak"> </a>
			<a href="https://www.linkedin.com/profile/view?id=336446106&trk=nav_responsive_tab_profile" target="_blank"> <img src="/static/logos/linkedin.png"alt="Nakul Pathak"> </a>
			<a href="https://github.com/nakulpathak3" target="_blank"> <img alt="Nakul Pathak" src="/static/logos/github.png"> </a>
			<a href="https://github.com/nakulpathak3" target="_blank"> <img alt="Nakul Pathak" src="/static/logos/g32.png"> </a>
		</p>

		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
        <script type='text/javascript' src='/js/script.js'></script>
</body>
</html>