<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nakul Pathak</title>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="../static/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../static/stylesheets/stylesheet.css" rel="stylesheet">
    <link href="../static/stylesheets/animate.min.css" rel="stylesheet">
    <link href="../static/stylesheets/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="/static/nakulpathak.pdf">Resume</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!--------------------------SCREEN 1------------------------------------>
    <section id="name">
        <div id="headerwrap">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h1 class="animated fadeInUp">NAKUL PATHAK</h1>
                        <h4 class="animated fadeInUp">WEB DEVELOPER, ENGINEER, LEARNER</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="subheadings" id="about">
        <span id="line1"><h1 id="slab">MY LIFE</h1></span>
        <em>
            <h3 class="text-center">"Yesterday is history, tomorrow is a mystery, but today is a gift. That is why it is called the present."<br />- Master Oogway, Kung Fu Panda</h3>
        </em>
        <hr class="style-two"></hr>
        <br />
        <br />
        <img id="profile" src="../static/img/profile.jpg" />
        <br />
        <div class="col-lg-6 col-lg-offset-3">
        Hi! I'm a software engineering student at the University of Waterloo. I am a proficient full-stack web developer obsessed with learning new technologies. I am a meticulous and passionate engineer who loves building new useful things. I also enjoy learning about philosophy, psychology, quantum mechanics and religion. I am looking for internships for summer (May-September) 2015. Contact me - <a class="mail-link" href="mailto:n4pathak@uwaterloo.ca">n4pathak@uwaterloo.ca</a>
        </div>


    </div>

    <!--------------------------SCREEN 3------------------------------------>

    <div class="subheadings" id="skills">
        <span id="line2"><h1 id="slab">MY SKILLS</h1></span>
        <em>
            <h3 class="text-center">"Life without knowledge is death in disguise."<br />- Talib Kweli</h3>
        </em>
        <hr class="style-two"></hr>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-sm-12 col-xs-12">
                    <h3><strong>Languages</strong></h3>
                    <ul class="no-bullets">
                        <li>
                            <span class="oneline">Python</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C++</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">Javascript</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">Lua</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">HTML, CSS</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-lg-offset-1 col-sm-12 col-xs-12">

                    <h3><strong>Frameworks/Libraries</strong></h3>

                    <ul class="no-bullets">
                        <li>
                            <span class="oneline">jQuery</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">Flask</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">Bootstrap</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">AngularJS</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">NodeJS</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="style-two " />
            <!--<hr class="style-two-vertical animated rotateIn" /> -->
            <hr class="vertical-line" />
            <div class="row move-up">
                <div class="col-lg-4 col-lg-offset-1 col-sm-12 col-xs-12">
                    <h3><strong>Tools</strong></h3>
                    <ul class="no-bullets">
                        <li>
                            <span class="oneline">Google App Engine</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">Chrome Developer Tools</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">Sublime Text 3</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">Bash</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>

                        <li>
                            <span class="oneline">Git</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-lg-offset-1 col-sm-12 col-xs-12">
                    <h3><strong>Miscellaneous</strong></h3>

                    <ul class="no-bullets">
                        <li>
                            <span class="oneline">MySQl</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">MongoDB</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">JSON</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">XML</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">MVC Pattern</span>
                            <span class="glyphicon glyphicon-star-empty stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!--------------------------SCREEN 4------------------------------------>

    <div class="subheadings" id="projects">
        <span id="line3"><h1 id="slab">MY PROJECTS</h1></span>
        <h3 class="text-center"><em>"Obsessed is just a word the lazy use to describe the dedicated."<br />- Russel Warren</h3></em>
        <hr class="style-two"></hr>

        <div class="container">
        <div class="row">

        <div class="col-md-6 col-sm-12 col-xs-12 projectbox">
            <div class="project">
                <div class="side">
                    <img src="../static/img/projects/feedme.png" class="project-image">
                </div>

                <div class="side back">
                    <h3>Feed Me!</h3>
                    A web app which provides possible recipes you can make with the ingredients you list.
                    <br />
                    <br />
                    Tools: Django, Python, Yummly API
                    <br />
                    <a href="https://github.com/evykassirer/FeedMe" class="github">
                        <h1><i class="fa fa-github"></i></h1>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 projectbox">
            <div class="project">
                <div class="side">
                    <img src="../static/img/projects/website.png" class="project-image">
                </div>

                <div class="side back">
                    <h3>Old Online Portfolio</h3>
                    Built website from scratch after Codecademy course. Marks the start of my coding and learning adventures! First website I ever made.
                    <br />
                    <br />
                    Tools: HTML, CSS, jQuery, jQuery UI
                    <br />
                    <a href="http://nakul-pathak.appspot.com">
                    <h3><span class="glyphicon glyphicon-new-window"></span></h1>
                    </a>
                    <a href="https://github.com/nakulpathak3/first-personal-website" class="github">
                        <h1><i class="fa fa-github"></i></h1>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 projectbox">
            <div class="project">
                <div class="side">
                    <img src="../static/img/projects/ascii-chan.png" class="project-image">
                </div>

                <div class="side back">
                    <h3>ASCII Chan!</h3>
                    A web service for users to submit ASCII art. Also shows location from where last post was submitted.
                    <br />
                    <br />
                    Tools: Google App Engine, Python, Google Maps &amp; HostIP API
                    <br />
                    <a href="https://github.com/nakulpathak3/app-engine-blog-fun" class="github">
                        <h1><i class="fa fa-github"></i></h1>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 projectbox">
            <div class="project">
                <div class="side">
                    <img src="../static/img/projects/oddimage.png" class="project-image">
                </div>

                <div class="side back">
                    <h3>Pick The Odd Image Out!</h3>
                    A web game in which you have to pick the image that does not belong with the other images.
                    <br />
                    <br />
                    Tools: AngularJS, jQuery, Bootstrap
                    <br />
                    <a href="https://github.com/nakulpathak3/pick-odd-image-out" class="github">
                        <h1><i class="fa fa-github"></i></h1>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 projectbox">
            <div class="project">
                <div class="side">
                    <img src="../static/img/projects/myro.jpg" class="project-image">
                </div>

                <div class="side back">
                    <h3>Myro Domestic Security</h3>
                    Created database, generated and stored random 3 * 3 matrix values, sent value to Android app using Google Cloud Messaging.
                    <br />
                    <br />
                    Tools: Python, Google Cloud Messaging, Google App Engine
                    <br />
                    <a href="https://github.com/Guatmobile/myro-server" class="github">
                        <h1><i class="fa fa-github"></i></h1>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 projectbox">
            <div class="project">
                <div class="side">
                    <img src="../static/img/projects/thiswebsite.png" class="project-image">
                </div>

                <div class="side back">
                    <h3>This Website!</h3>
                    A revision of my personal website with projects included as well as a cleaner design. Made from scratch.
                    <br />
                    <br />
                    Tools: Bootstrap, HTMl, CSS, jQuery
                    <br />
                    <a href="https://github.com/nakulpathak3/website-appengine" class="github">
                        <h1><i class="fa fa-github"></i></h1>
                    </a>
                </div>

            </div>
        </div>

        </div>
        </div>

    </div>

    <!--------------------------SCREEN 4------------------------------------>

    <div class="subheadings" id="contact">
        <span id="line4"><h1 id="slab">CONTACT ME</h1></span>
        <em>
            <h3 class="text-center">"Somebody message me!"<br />- Nakul Pathak</h3>
        </em>
        <hr class="style-two"></hr>
        <br />
        <br />
        <br />
        <div class="container">
        <form class="basic-grey" method="POST">
            <p>
            If you would like to work with me, offer me learning opportunities or talk about my projects, shoot me an email - <a class="mail-link" href="mailto:n4pathak@uwaterloo.ca">n4pathak@uwaterloo.ca</a> or send me a message here:
            </p>
            <br />

            <label>
                <span>Your Name :</span>
                <input id="name" type="text" name="name" placeholder="Name" />
            </label>

            <label>
                <span>Your Email :</span>
                <input id="email" type="email" name="email" placeholder="Email" />
            </label>

            <label>
                <span>Message :</span>
                <textarea rows='10' cols='100' id="message" name="message" placeholder="Your words"></textarea>
            </label>

            <label>
                <span>&nbsp;</span>
                <input type="submit" class="button" value="Send" />
            </label>
        </form>
    </div>

    <div id="social">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-2 col-lg-offset-1">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="col-lg-2 col-lg-offset-1">
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
                <div class="col-lg-2 col-lg-offset-1">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="col-lg-2 col-lg-offset-1">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div id="footerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-6">
                    <p><b>WEB DEVELOPER, ENGINEER, LEARNER</b></p>
                </div>

                <div class="col-lg-4  col-lg-offset-2">
                    <p><a class="mail-link" href="mailto:n4pathak@uwaterloo.ca"><b>n4pathak@uwaterloo.ca</b></a></p>
                </div>
            </div>
        </div>
    </div>


<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/script.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
</body>
</html>

<!--

Screenshot of project.
Heading of project. (Feed me!)
What it does - ( a web app which provides possible recipes you can make with the ingredients you list in a search by parsing the ingredients across an API from Yummly.)
Tools used - Django, Python
Built at blah blah. 2nd prize blah blah.
Github Icon which links to project
Link to actual project.

-->