<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nakul Pathak</title>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="../static/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../static/stylesheets/stylesheet.css" rel="stylesheet">
    <link href="../static/stylesheets/animate.min.css" rel="stylesheet">
    <link href="../static/stylesheets/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="/static/nakulpathak.pdf">Resume</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!--------------------------SCREEN 1------------------------------------>
    <section id="name">
        <div id="headerwrap">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h1 class="animated fadeInUp">NAKUL PATHAK</h1>
                        <h4 class="animated fadeInUp">WEB DEVELOPER, ENGINEER, LEARNER</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="subheadings" id="about">
        <span id="line1"><h1 id="slab">MY LIFE</h1></span>
        <h3 class="text-center">"Life without knowledge is death in disguise."<br />- Talib Kweli</h3>
        <hr class="style-two"></hr>
        <br />
        <br />
        <img id="profile" src="../static/img/profile.jpg" />
        <br />
        <div class="col-lg-6 col-lg-offset-3">
        Hi! I'm a software engineering student at the University of Waterloo. I am a proficient full-stack web developer obsessed with learning new technologies. I am a meticulous and passionate engineer who loves building new useful things. I also enjoy learning about philosophy, psychology, quantum mechanics and religion. I am looking for internships for summer (May-September) 2015. Contact me - nakulpathak3008@gmail.com
        </div>


    </div>

    <!--------------------------SCREEN 3------------------------------------>

    <div class="subheadings" id="skills">
        <span id="line2"><h1 id="slab">MY SKILLS</h1></span>
        <h3 class="text-center">"Life without knowledge is death in disguise."<br />- Talib Kweli</h3>
        <hr class="style-two"></hr>
        <br />
        <br />

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-sm-12 col-xs-12">
                    <h3 >Languages</h3>
                    <br />
                    <ul class="no-bullets">
                        <li>
                            <span class="oneline">Python</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C++</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-lg-offset-1 col-sm-12 col-xs-12">

                    <h3>Tools</h3>
                    <br />

                    <ul class="no-bullets">
                        <li>
                            <span class="oneline">Python</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C++</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <hr class="style-two" />

            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-sm-12 col-xs-12">
                    <h3 >Languages</h3>
                    <br />
                    <ul class="no-bullets">
                        <li>
                            <span class="oneline">Python</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C++</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-lg-offset-1 col-sm-12 col-xs-12">
                    <h3>Tools</h3>
                    <br />

                    <ul class="no-bullets">
                        <li>
                            <span class="oneline">Python</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C++</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                        <li>
                            <span class="oneline">C</span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                            <span class="glyphicon glyphicon-star filled stars"></span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!--------------------------SCREEN 4------------------------------------>

    <div class="subheadings" id="projects">
        <span id="line3"><h1 id="slab">MY PROJECTS</h1></span>
        <h3 class="text-center">"Life without knowledge is death in disguise."<br />- Talib Kweli</h3>
        <hr class="style-two"></hr>
        <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12 col-xs-12">
                <figure class="effect">
                    <img src="../static/img/back.jpg" class="projectimage">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <figure class="effect">
                    <img src="../static/img/back.jpg"  class="projectimage">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <figure class="effect">
                    <img src="../static/img/back.jpg"  class="projectimage">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <figure class="effect">
                    <img src="../static/img/back.jpg"  class="projectimage">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <figure class="effect">
                    <img src="../static/img/back.jpg" class="projectimage">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <figure class="effect">
                    <img src="../static/img/back.jpg" class="projectimage">
                </figure>
            </div>

        </div>
        </div>

    </div>

    <!--------------------------SCREEN 4------------------------------------>

    <div class="subheadings" id="contact">
        <span id="line4"><h1 id="slab">CONTACT ME</h1></span>
        <h3 class="text-center">"Life without knowledge is death in disguise."<br />- Talib Kweli</h3>
        <hr class="style-two"></hr>
        <br />
        <br />
        <br />
        <div class="container">
        <form class="basic-grey">
            <p>
            If you would like to work with me, offer me learning opportunities or talk about my projects, shoot me an email - nakulpathak3008@gmail.com or send me a message here:
            </p>
            <br />

            <label>
                <span>Your Name :</span>
                <input id="name" type="text" name="name" placeholder="Name" />
            </label>

            <label>
                <span>Your Email :</span>
                <input id="email" type="email" name="email" placeholder="Email" />
            </label>

            <label>
                <span>Message :</span>
                <textarea rows='10' cols='100' id="message" name="message" placeholder="Your words"></textarea>
            </label>

            <label>
                <span>&nbsp;</span>
                <input type="submit" class="button" value="Send" />
            </label>
        </form>
    </div>

    <div id="social">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-2 col-lg-offset-1">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="col-lg-2 col-lg-offset-1">
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
                <div class="col-lg-2 col-lg-offset-1">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="col-lg-2 col-lg-offset-1">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>

            </div><! --/row -->
        </div><! --/container -->
    </div>

    <div id="footerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-6">
                    <p><b>WEB DEVELOPER, ENGINEER, LEARNER</b></p>
                </div>

                <div class="col-lg-4  col-lg-offset-2">
                    <p>nakulpathak3008@gmail.com</p>
                </div>
            </div>
        </div>
    </div>


<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
</body>
</html>