<!DOCTYPE html>
<html>

	<head>

		<title>Nakul Pathak</title>
		<meta name="keywords" content="Nakul Pathak, Front end developer, Designer, Programmer, C++ Expert, Front-end, Web Developer, Web Designer"/>
 		<meta name="description" content="Nakul Pathak" />
 		<link href='http://fonts.googleapis.com/css?family=Josefin+Slab|Oswald' rel='stylesheet' type='text/css'>
 		<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	</head>
	<body id="index">
		<!-- MAIN PAGE -->
		<header>
			<h1><b>Nakul Pathak</b></h1>
		</header>
		<p class='bar'>
			<a href="https://www.facebook.com/nakul.pathak123456789" target="_blank"> <img src="/static/logos/fb-logo-50.png" height=35px alt="Nakul Pathak"> </a>
			<a href="https://twitter.com/nakulpathak3" target="_blank"> <img class="twit" src="/static/logos/twitter.png" alt="Nakul Pathak"> </a>
			<a href="https://github.com/nakulpathak3" target="_blank"> <img src="/static/logos/g32.png" alt="Nakul Pathak"> </a>
			<a href="https://www.linkedin.com/profile/view?id=336446106&trk=nav_responsive_tab_profile" target="_blank"> <img alt="Nakul Pathak" src="/static/logos/linkedin.png"> </a>
			<a href="https://github.com/nakulpathak3" target="_blank"> <img alt="Nakul Pathak" src="/static/logos/github.png"> </a>
		</p>
			 <a href="details#abut"><div class="list">About</div></a>
			 <a href="details#accomplishments"><div class="list">Accomplishments</div></a>
			 <a href="details#skills"><div class="list">Skills </div> </a>
             <a href="blog"><div class="list">Blog </div></a>
             <a href="/static/nakulpathak.pdf"><div class="list">Resume </div></a>
		 <!--MAIN PAGE END-->
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    	<script type="text/javascript" rel="script" src="/js/script.js"></script>
		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-53034934-1', 'auto');
			  ga('send', 'pageview');

		</script>
	</body>
</html>